@model UCP1_PAW_043_C.Models.KategoriCatatan

@{
    ViewData["Title"] = "Details";
}

<h1>Details Data</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nama Kategori")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaKategori)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKategori">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
